<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<style>
body {
    background-image: url("https://farm4.staticflickr.com/3255/2879822777_a32a054053_z.jpg");
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-color: green;
    border-style: solid;
    border-color: lightyellow;
    border-width: 5px;
    font-family: "Arial", Times, serif;
    }
    #comments {
    background-color: lightgreen;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}
h2 {
    background-color: green;
    padding-left: 30px;
    }
</style>
<body>
<%= yield %>
&copy; Fdisk 2014
</body>
</html>
